spring:
  output:
    ansi:
      enabled: always

  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
    defer-datasource-initialization: true

  sql:
    init:
      mode: always
